/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

/* */
/* */  /*  culture fact  */ /* */
/* */

.content--cultureFact {
    background-color: rgba(75,75,75,.75);
}

.content--cultureFact .front p{
    font-size:22px;
    color:white;
    font-weight:normal;
}

.content--cultureFact .front  {
    padding:25px;
}