
@import '../variables.css';

/* */
/* */  /* press mention */ /* */
/* */

.content--pressMention {
    background-color: rgba(75,75,75,.25);
}

.content--pressMention .front p{
    font-size:22px;
    font-weight:bold;
}

.content--pressMention .front  {
    padding:45px;
}
