/*
ContentAward CSS
*/

@import '../variables.css';

.content--award {
    background-color: rgba(75,75,75,.25);
}
  
.content--award .f1_card {
    background-color: rgba(75,75,75,.25);
}
  
.content--award .front p{
    font-size:22px;
    font-weight:bold;
}

.content--award .front  {
    padding:20px;
}   