/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

/* */
/* */  /* Company Fact  */ /* */
/* */

.content--companyFact {
        background-color: rgba(75,75,75,.75);
}

.content--companyFact .front p{
    font-size: 22px;
    color: white;
    font-weight: normal;
}

.content--companyFact .front  {
    padding: 25px;
}