/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

/* */
/* */  /* event style */ /* */
/* */

.content--event {
    background-color: rgba(75,75,75,.25);
}

.content--event .front p{
    font-size: 22px;
    font-weight: bold;
}

.content--event .front  {
    padding: 20px;
}   