
@import '../variables.css';

/* */
/* */  /* pressRelease  */ /* */
/* */

.content--pressRelease {
        background-color: rgba(75,75,75,.25);
}

.content--pressRelease .front p{
    font-size:22px;
    font-weight:bold;
}

.content--pressRelease .front  {
    padding:45px;
}